/* seb */

@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
	font-family: 'Poppins';
 background-color: #fffff;
}

br{
	margin: 30px;
}

disc{
	color: darkred;
	text-underline-position: under;
	font-size: small;
}
